In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

plt.style.use('fivethirtyeight')
pd.set_option('display.max_columns', 500)

In [2]:
pitchers = pd.read_csv('all_teams_pitchers.csv')
batters = pd.read_csv('all_teams_hitters.csv')

In [12]:
p = pitchers[['Player', 'Team', 'Pos', 'Payroll Salary Adjusted', 'WAR']]

In [13]:
b = batters[['Player', 'Team', 'Pos', 'Payroll Salary Adjusted', 'WAR']]
df = pd.concat([p, b]).reset_index(drop=True)

In [41]:
b1 = batters.groupby('Team').agg({'Payroll Salary Adjusted': 'sum', 'WAR': 'sum'})

In [44]:
b1["Cost per War"] = b1["Payroll Salary Adjusted"] / b1["WAR"]

In [45]:
b1

      Payroll Salary Adjusted   WAR  Cost per War
Team
ATL                  76193094  17.8  4.280511e+06
AZ                   67413434  33.7  2.000399e+06
BAL                  35153075  30.4  1.156351e+06
BOS                  55083163  22.2  2.481224e+06
CHC                 115428170  25.3  4.562378e+06
CHW                  65743680  -2.1 -3.130651e+07
CIN                  19287050   7.1  2.716486e+06
CLE                  40478197  20.8  1.946067e+06
COL                  38466351  13.2  2.914117e+06
DET                  11022720  17.7  6.227525e+05
HOU                  94831489  28.1  3.374786e+06
KCR                  39253274  20.0  1.962664e+06
LAA                  52816538   8.2  6.441041e+06
LAD                 123779942  37.5  3.300798e+06
MIA                   7683712   7.9  9.726218e+05
MIL                  36725432  24.4  1.505141e+06
MIN                  82185124  11.8  6.964841e+06
NYM                 116792790  24.6  4.747674e+06
NYY                 158293408  30.4  5.207020e+06
OAK                  10522631  14.4  7.307383e+05
PHI                 124275120  25.1  4.951200e+06
PIT                  24207918  12.0  2.017326e+06
SDP                  76564475  22.1  3.464456e+06
SEA                  79276193  26.4  3.002886e+06
SFG                  50584614  20.4  2.479638e+06
STL                  56593676  15.1  3.747926e+06
TBR                  23653660  13.2  1.791944e+06
TEX                  49601468  15.8  3.139333e+06
TOR                  30581584  10.9  2.805650e+06
WSN                  15465422   9.1  1.699497e+06

In [15]:
war_team = df['Payroll Salary Adjusted'].sum() / df['WAR'].sum()

In [28]:
team_agg = df.groupby('Team').agg({'Payroll Salary Adjusted':'sum', 'WAR':'sum'})

In [34]:
team_agg['Cost per War'] = team_agg['Payroll Salary Adjusted'] / team_agg['WAR']

In [32]:
team_agg['Cost per War'] = team_agg['Cost per War'] / 1000000

In [35]:
team_agg

      Payroll Salary Adjusted   WAR  Cost per War
Team
ATL                 166338167  45.7  3.639785e+06
AZ                  134502970  42.5  3.164776e+06
BAL                  65982048  40.5  1.629186e+06
BOS                  77327289  33.5  2.308277e+06
CHC                 177805468  36.1  4.925359e+06
CHW                  74306691  10.8  6.880249e+06
CIN                  54538311  24.2  2.253649e+06
CLE                  50885032  39.4  1.291498e+06
COL                  79534485  19.3  4.120958e+06
DET                  32396992  32.9  9.847110e+05
HOU                 171349884  44.7  3.833331e+06
KCR                  84606907  43.4  1.949468e+06
LAA                  72929861  14.1  5.172331e+06
LAD                 167997739  43.8  3.835565e+06
MIA                  11473396  14.8  7.752295e+05
MIL                  71398748  37.1  1.924495e+06
MIN                 102020614  21.7  4.701411e+06
NYM                 186528021  38.3  4.870183e+06
NYY                 259328692  44.8  5.788587e+06
OAK                  28956713  25.8  1.122353e+06
PHI                 222209723  48.3  4.600615e+06
PIT                  51220210  26.9  1.904097e+06
SDP                 146962758  42.5  3.457947e+06
SEA                  93668820  36.1  2.594704e+06
SFG                 102704227  33.7  3.047603e+06
STL                 112213666  25.3  4.435323e+06
TBR                  36777368  29.6  1.242479e+06
TEX                 145959070  24.6  5.933296e+06
TOR                 112230693  16.4  6.843335e+06
WSN                  60351144  18.4  3.279953e+06